form > table {
    width: 100%;
}

.form {
    width: 100%;
    max-width: 640px;
    margin: 20px auto;
}

.form-small {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.button-cell {
    padding-top: 15px;
}

.button-cell-small {
    padding-top: 7px;
}

input, textarea, select {
    outline: none;
    line-height: normal;
    color: inherit;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    -ms-border-radius: 11px;
    border-radius: 11px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    background: #d93434;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
        background: #e83131;
    }

    .button:active {
        background: #e00;
    }

.button-small {
    font-size: 16px;
    padding: 6px 12px;
}

input[type=text],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: solid 1px #ccc;
    -webkit-transition: border-color 0.15s;
    -moz-transition: border-color 0.15s;
    -ms-transition: border-color 0.15s;
    -o-transition: border-color 0.15s;
    transition: border-color 0.15s;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    -ms-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

input[type=date],
input[type=time] {
    padding: 4px;
}

select {
    padding: 6px 8px 4px 3px;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
}

input[type=text]:hover,
    input[type=number]:hover,
    input[type=password]:hover,
    input[type=date]:hover,
    input[type=time]:hover,
    textarea:hover,
    select:hover {
        border-color: #eb7171;
    }

    input[type=text]:focus,
    input[type=number]:focus,
    input[type=password]:focus,
    input[type=date]:focus,
    input[type=time]:focus,
    textarea:focus,
    select:hover {
        border-color: #b90000;
    }

.tabela {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

    .tabela th {
        padding: 10px 6px 6px 6px;
        border-bottom: 2px solid #ddd;
    }

    .tabela td {
        padding: 6px;
    }

    .tabela tr {
        border-top: 1px solid #ddd;
    }

    .tabela tbody tr:nth-child(odd) {
        background: #fafafa;
    }

.lokacion-mbajtesi {
    margin: 10px 20px -15px 0;
    border: 2px solid #e3e3e3;
    overflow: auto;
}

.lokacion-foto {
    float: left;
}

.lokacion-foto2 {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

    .lokacion-foto img {
        display: block;
    }

.lokacion-permbajtja {
    margin-top: 28px;
    margin-left: 300px;
}

.lokacion-titulli {
    font-weight: bold;
    font-size: 250%;
    margin-bottom: 15px;
}