form > table {
  width: 100%;
}

input, textarea, select {
  outline: none;
  line-height: normal;
  color: inherit;
  font-size: 16px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.button {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  background: #d93434;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: #e83131;
}

.button:active {
  background: #e00;
}

.button_vogel {
  font-size: 16px;
  padding: 6px 12px;
}

input[type=text],
input[type=password],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: solid 1px #ccc;
  transition: border-color 0.15s;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  vertical-align: middle;
}

select {
  padding: 6px 8px 4px 3px;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  resize: vertical;
}

input[type=text]:hover,
input[type=password]:hover,
textarea:hover,
select:hover {
    border-color: #eb7171;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:hover {
  border-color: #b90000;
}

.tabela {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.tabela th {
  padding: 10px 6px 6px 6px;
  border-bottom: 2px solid #ddd;
}

.tabela td {
  padding: 6px;
}

.tabela tr {
  border-top: 1px solid #ddd;
}

.tabela tbody tr:nth-child(odd) {
  background: #fafafa
}