form > table {
  width: 100%;
}

input, textarea {
  outline: none;
  line-height: normal;
  color: inherit;
  font-size: 16px;
  letter-spacing: 1px;
}

.button {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border: none;
  border-radius: 11px;
  color: #ffffff;
  font-size: 18px;
  background: #d93434;
  padding: 8px 16px;
  text-decoration: none;
}

.button:hover {
  background: #e83131;
}

.button_vogel {
  font-size: 16px;
  padding: 6px 12px;
}

input[type=text],
textarea {
  width: 100%;
  padding: 8px;
  border: solid 1px #ccc;
  transition: border-color 0.15s;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  vertical-align: middle;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  resize: vertical;
}

input[type=text]:hover,
textarea:hover {
    border-color: #eb7171;
}

input[type=text]:focus,
textarea:focus {
  border-color: #b90000;
}

.tabela {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.tabela th {
  padding: 10px 6px 6px 6px;
  border-bottom: 2px solid #ddd;
}

.tabela td {
  padding: 6px;
}

.tabela tr {
  border-top: 1px solid #ddd;
}

.tabela tr:nth-child(even) {
  background: #fcf4f4
}