* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -60px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 60px; 
}

body	{
  font-family: 'Open Sans', sans-serif;
  color: #515151;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
}

section.permbajtje {
  padding: 48px 12px;
}

.permbajtje {
  padding: 0 12px;
  margin: 0 auto;
  max-width: 960px;
}

.menu {
	border: 1px solid #ccc;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu li {
	position: relative;
	display: inline;
}

.menu a {
	font-weight: normal;
  font-size: 18px;
	display: inline-block;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  transition: background linear 0.15s;
	padding: 15px;
}

.menu .shigjeta {
  font-size: 12px;
  line-height: 0%;
}

.menu ul {
	position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity linear 0.15s;
	margin: 0;
	padding: 0;
	text-align: left;
}

.menu ul li {
	display: block;
}

.menu li:hover ul {    
  z-index:1;
  opacity:1;
}

.menu li:hover a {
	text-decoration: underline;
	background: #f1f1f1;
}

.menu li:hover ul a {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.5);;
}

.menu li:hover ul a:hover {
	text-decoration: underline;
	background: #f1f1f1;
}

.menu ul a {
	white-space: nowrap;
	display: block;
	border-bottom: 1px solid ccc;
}

a {
	color: #c00;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	background: #f1f1f1;
}

footer {
  color: #fff;
  background: #333;;
}

footer .permbajtje {
  font-size: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}